// kyaboard.keymap

\#include \<dt-bindings/zmk/keys.h>

/ { keymap { compatible = "zmk,keymap";

```
    default_layer {
        bindings = <
            // 1段目
            &kp TAB &kp UP &trans &trans &trans &kp LANG2 &kp N &kp COMMA &kp DOT &kp BSPACE &kp N7 &kp N8 &kp N9
            // 2段目
            &kp A &kp V &kp L &kp M &kp E &kp BSPACE &kp N4 &kp N5 &kp N6
            // 3段目
            &kp LSHIFT &kp G &kp I &kp R &kp W &kp ENTER &kp N1 &kp N2 &kp N3
            // 4段目
            &kp LGUI &kp LALT &kp SPACE &kp LEFT &kp DOWN &kp RIGHT &kp N0
            // 5段目 (特殊キー)
            &kp LGUI &kp LALT &kp LSHIFT &kp SPACE &trans &kp CMD_S
        >;
    };

    fn_layer {
        bindings = <
            // 1段目
            &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &kp LPAREN &kp RPAREN &trans
            // 2段目
            &trans &trans &trans &kp B &kp P &trans &kp DLLR &kp PRCNT &trans
            // 3段目
            &trans &trans &trans &kp X &trans &trans &kp EXCL &kp DQT &kp HASH
            // 4段目
            &trans &trans &trans &trans &trans &trans &trans
            // 5段目 (特殊キー)
            &trans &trans &trans &trans &trans &trans
        >;
    };
};
```

};

